.centerdiv{
    display: flex;
    justify-content: center;
}

.full-div {
    display: list-item;
}
.side-div {
    display: flex;
    justify-content: center;
}
.Name {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.spacer
{
    width: 100%;
    height: 95px;
}
