
.title {
    font-weight: bold;
    font-size: 14;
    font-family: Georgia;
}

Card {
     background-color: blue;
}

/* img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    /* filter: grayscale(100%); */
  /* } */ 